<html>
<header>
	<title>A Snap Template Engine Demo Template</title>
</header>

<body>
	<div id="content">
		<h1>{{var::title}}</h1>
		<p>no encoding title: {{var::title::none}}</p>
		<p>default var: {{var::nonexistant?default=moep}}</p>

		{{pre::items}}

		{{if::$items.2.price > 10 }}
		{{var::items.2.name}} costs more than 10
		{{else}}
		{{var::items.2.name}} costs less than 10
		{{/if}}

		<ul>
			{{foreach::items}}
			<li>{{var::name}} - {{var::price}}€ - title Variable from global scope: {{var::title@global}}</li>
			{{/foreach}}
		</ul>
	</div>
</body>

</html>